  <div class="dragbox" id="group-<%= group.id %>">
    <div class="group">
      <h2>
        <div class="viewer"><%= group.name %></div>
        <div class="editor"><input type="text" value="<%= group.name %>" /></div>
      </h2>
      <span class="delete-group ui-corner-all ui-icon ui-icon-close"></span>
    </div>
    <dl class="key-mapping">
      <% group.key_mappings.each do |km| %>
      <%  if km.key.blank? and km.content.blank? %>
      <dt><%= km.key %></dt><dd class="nodata"><%= km.content %></dd>
      <% else %>
      <dt><%= km.key %></dt><dd><%= km.content %></dd>
      <% end %>
      <% end %>
    </dl>
  </div>
