<tr id="keymapping-<%= key_mapping.id %>">
  <td class="key">
    <div class="viewer"><%= key_mapping.key %></div>
    <div class="editor"><input type="text" value="<%= key_mapping.key %>" /></div>
  </td>
  <td class="content">
    <div class="viewer"><%= key_mapping.content %></div>
    <div class="editor"><input type="text" value="<%= key_mapping.content %>" /></div>
  </td>
  <td class="delete-keymapping"><span class="ui-icon ui-icon ui-icon-circlesmall-close"></span></td>
</tr>