<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Ordinal</th>
    <th>KeyMappings数</th>
    <th>Links</th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.name %></td>
    <td><%= group.ordinal %></td>
    <td><%= group.key_mappings.size %></td>
    <td><%= link_to 'KeyMappings', group_key_mappings_path(group) %>
        <%= link_to 'Show', group %>
        <%= link_to 'Edit', edit_group_path(group) %>
        <%= link_to 'Destroy', group, method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
